.card {
  background-color: #000;
  color: #fff;
  transition: all 0.3s ease;
  padding: 20px;
  border-radius: 10px;

  &-outline {
    @extend .card;
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
  }

  &-sharp {
    @extend .card;
    border-radius: 0;
  }
}
