.table {
  width: 100%;
  border-collapse: collapse;

  th,
  .th {
    font-size: 20px;
    font-weight: 600;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    padding: 5px;
  }

  td,
  .td {
    font-size: 15px;
    padding: 5px;
    border: 1px solid #00000037;
  }

  tr:nth-of-type(even),
  .tr {
    background-color: #f4f4f4;
  }

  &-minimal {
    @extend .table;
    th,
    td,
    .th,
    .td {
      border: none;
      padding: 10px;
      text-align: left;
    }

    th:first-child,
    .th:first-child,
    td:first-child,
    .td:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    th:last-child,
    .th:last-child,
    td:last-child,
    .td:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &-outline {
      @extend .table-minimal;
      border-radius: 5px;
      border: 1px solid #00000037;
    }
  }
}
