h1 {
  font-size: 45px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 35px;
}
h4 {
  font-size: 30px;
}
h5 {
  font-size: 25px;
}
h6 {
  font-size: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  span,
  a {
    font: inherit;
    line-height: inherit;
  }
}

span,
a,
p,
article,
code {
  font-size: 18px;
  line-height: 1.25;
}

a,
span {
  text-decoration: none;
  display: inline-block;
}

// font transform
.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

// font sizes
.font-size {
  &-min {
    font-size: 14px;
  }
  &-normal {
    font-size: 16px;
  }
  &-med {
    font-size: 20px;
  }
  &-max {
    font-size: 40px;
  }

  // tab
  &-tab-min {
    @media only screen and (max-width: 1080px) {
      font-size: 14px;
    }
  }
  &-tab-normal {
    @media only screen and (max-width: 1080px) {
      font-size: 16px;
    }
  }
  &-tab-med {
    @media only screen and (max-width: 1080px) {
      font-size: 20px;
    }
  }
  &-tab-max {
    @media only screen and (max-width: 1080px) {
      font-size: 40px;
    }
  }

  // mobile
  &-mob-min {
    @media only screen and (max-width: 600px) {
      font-size: 14px;
    }
  }
  &-mob-normal {
    @media only screen and (max-width: 600px) {
      font-size: 16px;
    }
  }
  &-mob-med {
    @media only screen and (max-width: 600px) {
      font-size: 20px;
    }
  }
  &-mob-max {
    @media only screen and (max-width: 600px) {
      font-size: 40px;
    }
  }
}

// font weights
.font-weight {
  &-100,
  &-thin {
    font-weight: 100;
  }
  &-200,
  &-thin {
    font-weight: 200;
  }
  &-300 {
    font-weight: 300;
  }
  &-400,
  &-normal,
  &-medium {
    font-weight: 400;
  }
  &-500,
  &-normal,
  &-medium {
    font-weight: 500;
  }
  &-600 {
    font-weight: 600;
  }
  &-700,
  &-bold {
    font-weight: 700;
  }
  &-800,
  &-bold {
    font-weight: 800;
  }
  &-900,
  &-bold {
    font-weight: 900;
  }
}

// lists
.list-style {
  &-none {
    list-style: none;
  }
}
